# Godot-specific ignores
.import/
godot/.godot/
*.import

# Third party plugins (DON'T INCLUDE GUT)
godot/addons/gut
godot/addons/scene_manager
godot/addons/sound_manager
godot/addons/debug_draw_3d
godot/addons/godotsteam
godot/addons/touch_input_manager
godot/addons/admob

# Mono-specific ignores
.mono/
data_*/

# Binaries
*.exe
*.apk
*.apk.idsig
*.aab
*.so
scripts/linux/launch_godot_binaries

# Android exports
godot/android/build/.gradle
godot/android/build/src/debug
godot/android/build/intermediates
godot/android/build/assets
godot/android/build/build
godot/android/build/libs/gdextensionlibs.json

# TEMPORAL
*.translation